*{
	margin: 0px;
	padding: 0px;
}
#container{
	width: 960px;
	height: 900px;
	margin: 0px auto;
	background-image: url("/assets/img/kiss.jpg");
	background-repeat: no-repeat;
}
	fieldset{
		padding: 20px;
		margin: 60px 0px 60px 60px;
	}
		legend{
			color: white;
		}
		.forms{
			display: inline-block;
			vertical-align: top;
		}
			input{
				display: block;
				margin: 10px 0px;
				font-size: 17px;
				padding: 3px;
			}
			.button{
				background-color: #758fb5;
				padding: 5px 15px;
				color: white;
				margin-left: 70px;
			}